<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmitRecipeForm()">
      <div class="row mb-2">
        <div class="col-12">
          <button type="submit" class="btn btn-success mr-2">Save</button>
          <button type="button" class="btn btn-danger ml-2">Cancel</button>
        </div>
      </div>
      <!-- Form Inputs -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              type="text"
              id="name"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              class="form-control"
              type="url"
              id="imagePath"
              formControlName="imagePath"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img class="img-fluid" src="" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              rows="5"
              class="form-control"
              id="description"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-8">
              <div class="form-group">
                <label for="ingname">Ingredient Name</label>
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label for="amount">Amount</label>
                <input
                  class="form-control"
                  type="number"
                  id="amount"
                  formControlName="amount"
                />
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
              <button type="button" class="btn btn-danger">X</button>
            </div>
          </div>
          <hr />
          <div class="mb-5">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddIngredient()"
            >
              Add Ingredient
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
