<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-md-6 m-auto">
      <form class="pt-4">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input class="form-control" type="email" id="email" name="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            type="password"
            id="password"
            name="password"
          />
        </div>
        <div class="">
          <button class="btn btn-primary mr-3" type="submit">Sign Up</button> |
          <button class="btn btn-link" type="button">Switch to Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
