<div class="row">
  <div class="col-12">
    <img class="img-fluid" src="" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Recipe Name</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div
      class="btn-group"
      role="group"
      aria-label="Button group with nested dropdown"
    >
      <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Mange Recipe
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">To Shopping List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <a class="dropdown-item" href="#">Delete Recipe</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">description</div>
</div>
<div class="row">
  <div class="col-12">ingredtients</div>
</div>
