<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <ul class="list-group mb-2">
      <a
        href="#"
        class="list-group-item list-group-item-action clearfix"
        *ngFor="let recipe of recipes"
      >
        <div class="float-left">
          <h4 class="text-primary">{{ recipe.name }}</h4>
          <p class="text-body">{{ recipe.descrption }}</p>
        </div>
        <span class="float-right">
          <img
            class="img-fluid"
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
            style="max-height: 50px"
          />
        </span>
      </a>
    </ul>
  </div>
</div>
<app-recipe-item></app-recipe-item>
