<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onAddItem(ingForm)" #ingForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
            minlength="2"
            pattern="^[a-zA-Z]+$"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            ngModel
            name="amount"
            required
            pattern="^[1-9][0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            [disabled]="!ingForm.valid"
            class="btn btn-success"
            type="submit"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            [disabled]="!ingForm.valid"
            (click)="onDeleteIngredient()"
            *ngIf="editMode"
            class="btn btn-danger mx-3"
            type="button"
          >
            Delete
          </button>
          <button
            class="btn btn-outline-primary ml-3"
            type="reset"
            (click)="onClearForm()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
